<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idonans.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.idonans.core.CommonFileProvider"
            android:authorities="______${applicationId}.CommonFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/______file_provider" />
        </provider>
    </application>
</manifest>
